name: dbt-checkpoint
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  pre_commit_dbt:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install pre-commit
        run: pip install dbt pre-commit

      - id: file_changes
        uses: trilom/file-changes-action@v1.2.4
        with:
          output: ' '

      - name: Run pre-commit model checks
        env:
          DBT_CLOUD_API_KEY: ${{ secrets.DBT_CLOUD_API_KEY }}
          DBT_CLOUD_ACCOUNT_ID: ${{ secrets.DBT_CLOUD_ACCOUNT_ID }}
          DBT_CLOUD_PROJECT_ID: ${{ secrets.DBT_CLOUD_PROJECT_ID }}
          DBT_CLOUD_PROJECT_NAME: "Main"
          DBT_CLOUD_HOST: "cloud.getdbt.com"
          DBT_CLOUD_ACCOUNT_NAME: "Doug Sandbox"
        run: |
          mkdir ~/.dbt/
          ./scripts/create_profile.py > ~/.dbt/dbt_cloud.yml
          pre-commit run --files ${{ steps.file_changes.outputs.files}}
